<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Khách hàng
      <span class="pull-right">
        <button
          type="button"
          class="btn btn-block btn-primary"
          (click)="openModal(template)"
        >
          <i class="fa fa-plus"></i> Tạo KH
        </button>
      </span>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Tạo mới khách hàng</strong>
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Form Add KH-->
      <div class="modal-body">
        <form [formGroup]="addCustomersForm" (ngSubmit)="addCustomer()">
          <!-- <div class="form-group">
            <label for="makh">Mã KH</label>
            <input 
              type="text"
              class="form-control"
              id="makhachhang"
              formControlName="makhachhang"
              placeholder="Nhập mã khách hàng (bắt buộc)"
            />
          </div> -->
          <div class="form-group">
            <label for="tenkh">Tên KH</label>
            <input
              type="text"
              class="form-control"
              id="ten"
              formControlName="ten"
              placeholder="Nhập tên khách hàng (bắt buộc)"
            />
          </div>
          <div class="form-group">
              <label for="sdtkh">Số điện thoại</label>
              <input
                type="text"
                class="form-control"
                id="sdt"
                formControlName="sdt"
                placeholder="Nhập số điện thoại (bắt buộc)"
              />
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
          </div>
          <div class="form-group">
              <label for="diachikh">Địa chỉ</label>
              <input
                type="text"
                class="form-control"
                id="diachi"
                formControlName="diachi"
              />
          </div>
          <div class="form-group">
              <label for="ngaysinhkh">Ngày sinh</label>
              <input
                bsDatepicker
                class="form-control"
                placement="top"
                formControlName="ngaysinh"
              />
          </div>
          <div class="form-group">
              <label>Giới tính</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="gioitinh" id="gioitinhnam" checked [value]="1"  formControlName="gioitinh">
                  <label class="form-check-label" for="gioitinhnam">
                    Nam
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="gioitinh" id="gioitinhnu" [value]="0" formControlName="gioitinh">
                  <label class="form-check-label" for="gioitinhnu">
                    Nữ
                  </label>
              </div>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary"  >Lưu</button>
          </div>

        </form>
      </div>
      <!--End form add KH-->
    </ng-template>
    <div class="box">
      <form>
        <div class="box-header">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input
                class="form-control"
                type="text"
                name="searchTerm"
                [(ngModel)]="searchTerm"
                placeholder="Nhập tên khách hàng"
              />
            </div>
            <div class="form-group col-md-2">
              <select class="form-control" [(ngModel)]="fitlerloaikhachhang" (change)="filter()" name="fitlerloaikhachhang"  >
                <option value="0">Tất cả</option>
                <option value="1">KH từng mua hàng</option>
                <option value="2">KH còn nợ</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <button type="submit" class="form-control btn btn-primary" (click)="search()">
                Tìm kiếm
              </button>
            </div>
          </div>
        </div>
        <div class="box-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Mã KH</th>
                <th scope="col">Tên KH</th>
                <th scope="col">Điện thoại</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Lần cuối mua hàng</th>
                <th scope="col">Tổng tiền hàng</th>
                <th scope="col">Nợ</th>
                <th scope="col">Công cụ</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="listCustomers" let-i="index">
              <tr>
                <th scope="row">{{item.makhachhang}}</th>
                <td scope="row">{{item.ten}}</td>
                <td scope="row">{{item.sdt}}</td>
                <td scope="row">{{item.diachi}}</td>
                <td scope="row">{{item.createdAt | date:'medium' }}</td>
                <td scope="row">{{item.tonggia | currency:'VND' }}</td>
                <td scope="row">{{item.tongno | currency:'VND' }}</td>
                <td style="text-align: center;">
                    <i title="Sửa" class="fa fa-pencil-square-o" style="margin-right: 5px;"
                    (click)="editCustomer(item.makhachhang)"></i>
                  <i class="fa fa-trash-o" style="color: darkred;" title="Xóa" (click)="deleteCustomer(item.makhachhang)"></i>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table><div class="box-footer">
          <div class="d-flex justify-content-between p-2"></div>
          <div class="alert alert-info summany-info clearfix" role="alert">
            <div class="sm-info pull-left">
                Số khách hàng: <span>{{getTotalCustomers()}}</span> Tổng tiền: <span>{{getTotalMoney() | currency: "VND"}}</span>đ
                Tổng nợ: <span>{{getTotalDet() | currency: "VND"}}</span>đ
            </div> 
          </div>
          <div class="pull-right">
            <pagination previousText="&lsaquo;" name="currentPage" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;" [boundaryLinks]="true" [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)">
            </pagination>
          </div> 
        </div>
        </div>
           
      </form>
    </div>
  </section>
  <!-- /.content -->
</div>
