aside.main-sidebar {
    background-color: #ffffff;
}
.main-sidebar .sidebar a {
    color: #333
}
.main-sidebar .sidebar .active a {
    color: #ffffff
}
.main-sidebar .sidebar ul li:hover a {
    color: #ffffff
}