<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh sách sản phẩm
      <span class="pull-right">
        <a class="btn btn-block btn-primary" (click)="openModal(templateAddProd)">
          <i class="fa fa-edit"></i> Thêm mới
        </a>
      </span>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <ng-template #templateAddProd>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Tạo mới sản phẩm</strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAddProd.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Form Add SP-->
      <div class="modal-body">
        <form [formGroup]="addProdForm" (ngSubmit)="createProduct()">
          <div class="form-group">
            <label for="tensp">Tên sản phẩm</label>
            <input type="text" class="form-control" id="tensp" 
            placeholder="Nhập tên SP (bắt buộc)" formControlName="tensp"/>
            <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['tensp'].invalid && ((addProdForm.controls['tensp'].touched)
                  ||(addProdForm.controls['tensp'].dirty))">
                  Vui lòng nhập tên sản phẩm
            </div>
          </div>
          <div class="form-group">
            <label for="soluong">Số lượng</label>
            <input type="number" class="form-control"
             name="soluong" formControlName="soluong"/>
             <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['soluong'].invalid && ((addProdForm.controls['soluong'].touched)
                  ||(addProdForm.controls['soluong'].dirty))">
                  Vui lòng nhập số lượng sản phẩm
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="giavon">Giá vốn   </label>
            <input type="number" class="form-control"
             name="giavon" formControlName="giavon"/>
             <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['giavon'].invalid && ((addProdForm.controls['giavon'].touched)
                  ||(addProdForm.controls['giavon'].dirty))">
                  Vui lòng nhập giá
            </div>
            <label for="giaban">Giá bán   </label>
            <input type="number" 
            class="form-control" name="giaban" formControlName="giaban"/>
            <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['giaban'].invalid && ((addProdForm.controls['giaban'].touched)
                  ||(addProdForm.controls['giaban'].dirty))">
                  Vui lòng nhập giá bán
            </div>
          </div>
          <div class="form-group">
            <label for="danhmuc">Danh mục</label>
            <div class="form-check">
              <div *ngFor="let item of listCateProd">
              <input class="form-check-input" type="checkbox" value="{{item.id}}" (change)="onCheckChange($event)"/>
              <label class="form-check-label">
                {{item.tendanhmuc}}
              </label>
              <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['danhmuc'].invalid && ((addProdForm.controls['danhmuc'].touched)
                  ||(addProdForm.controls['danhmuc'].dirty))">
                  Vui lòng nhập chọn danh mục
            </div>
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nhasx">Nhà sản xuất</label>
            <select name="nhasx" class="form-control" id="nhasx" formControlName="nhasx">
              <option *ngFor="let item of listManufProd" value="{{item.id}}">{{item.tennsx}}</option>  
            </select>
            <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['nhasx'].invalid && ((addProdForm.controls['nhasx'].touched)
                  ||(addProdForm.controls['nhasx'].dirty))">
                  Vui lòng nhập chọn nhà sản xuất
            </div>
          </div>
          <div class="form-group">
            <label for="donvitinh">Đơn vị tính</label>
            <select name="donvitinh" class="form-control" id="donvitinh" formControlName="donvitinh">
              <option value="cái" >Cái</option>  
            </select>
            <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['donvitinh'].invalid && ((addProdForm.controls['donvitinh'].touched)
                  ||(addProdForm.controls['donvitinh'].dirty))">
                  Vui lòng nhập chọn đơn vị tính
            </div>
          </div>
          <div class="form-group">
            <label for="motasp">Mô tả sản phẩm</label>
            <textarea type="text" class="form-control" id="motasp" formControlName="motasp">
                    </textarea>
          </div>
          <div class="form-group">
            <label for="anhsp">Ảnh sản phẩm</label>
            <label>
              <input type="file" (change)="selectFile($event)" formControlName="anhsp">
            </label>
            <div class="col alert alert-danger" role="alert"
                *ngIf="addProdForm.controls['anhsp'].invalid && ((addProdForm.controls['anhsp'].touched)
                  ||(addProdForm.controls['anhsp'].dirty))">
                  Vui lòng nhập số lượng sản phẩm
            </div>
          </div>
          <div class="form-group">
            <label>Gắn nhãn</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="ishot" value="1" formControlName="hot">
              <label class="form-check-label" for="ishot">
                is Hot
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="isnew" value="1" formControlName="new">
              <label class="form-check-label" for="isnew">
                is New
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="displaywebsite" value="1" formControlName="display">
              <label class="form-check-label" for="displaywebsite">
                Hiển thị trên website
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>

        </form>
      </div>
      <!--End form add KH-->
    </ng-template>
    <div class="box">
      <div class="box-header">
        <div class="form-group col-md-5 padd-0">
          <input class="form-control" id="product-search" name="searchTerm" [(ngModel)]="searchTerm" type="text" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm">
        </div>
        <div class="form-group col-md-7 ">
          <div class="col-md-3 padd-0" style="margin-right: 10px;">
            <select class="form-control" [(ngModel)]="filterStatus" (change)="filter()"
            name="filterStatus">
              <option value="0" selected="selected">Trạng thái</option>
              <option value="1">Đang kinh doanh</option>
              <option value="2">Đã ngừng kinh doanh</option>
            </select>
          </div>
          <div class="col-md-3 padd-0" style="margin-right: 10px;">
          <select class="form-control" [(ngModel)]="fitlerdanhmucsp" (change)="filter()"
          name="fitlerdanhmucsp">
              <option selected="selected" value="0">--Danh mục--</option>
              <option *ngFor="let item of listCateProd" value="{{item.id}}">{{item.tendanhmuc}}</option>
            </select>
          </div>
          <div class="col-md-3 padd-0" style="margin-right: 10px;">
            <select class="form-control search-option-3" [(ngModel)]="fitlernhasx" (change)="filter()"
            name="fitlernhasx">
              <option selected="selected" value="0">--Nhà sản xuất--</option>
              <option *ngFor="let item of listManufProd" value="{{item.id}}">{{item.tennsx}}</option>
            </select>
          </div>
          <button class="btn btn-primary btn-large btn-ssup" (click)="search()"><i class="fa fa-search"></i> Tìm kiếm
          </button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Mã sản phẩm</th>
              <th scope="col">SL</th>
              <th scope="col">Giá bán</th>
              <th scope="col">Danh mục</th>
              <th scope="col">Nhà sản xuất</th>
              <th scope="col">Công cụ</th>
            </tr>
          </thead>
          <tbody>
              <ng-template ngFor let-item [ngForOf]="listProds" let-i="index">
                <tr>
                  <td scope="row">{{item.tensp}}</td>
                  <th scope="row">{{item.masp}}</th>
                  <td scope="row">{{item.soluong}}</td>
                  <td scope="row">{{item.giaban | currency: "VND"}}</td>
                  <td scope="row"><span *ngFor="let danhmuc of item.chitietdanhmuc; let i=index">{{danhmuc.danhmucsp.tendanhmuc}}<span *ngIf="i!=item.chitietdanhmuc.length-1">, </span>  </span></td>
                  <td scope="row">{{item.nhasanxuat.tennsx}}</td>
                  <td style="text-align: center;">
                      <i title="Sửa" class="fa fa-pencil-square-o" style="margin-right: 5px;"
                      (click)="editProduct(item.masp)"></i>
                      <i class="fa fa-trash-o" style="color: darkred;" title="Xóa" (click)="deleteProduct(item.id)"></i>
                      <i title ="{{titleState(item.id)}}" class="fa fa-pause" style="margin-left: 5px;"
                      (click)="changestate(item.id)"></i>
                  </td>
                </tr>
              </ng-template>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <div class="d-flex justify-content-between p-2"></div>
        <div class="alert alert-info summany-info clearfix" role="alert">
          <div class="sm-info pull-left">
            SL sản phẩm/SL nhà sản xuất: <span>{{getTotalProducts()}}</span> / <span>{{getTotalManuf()}}</span>
          </div>
          <div class="pull-right">
            <pagination previousText="&lsaquo;" name="currentPage" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;" [boundaryLinks]="true" [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
