<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh sách danh mục sản phẩm
      <span class="pull-right">
        <a class="btn btn-block btn-primary" (click)="openModal(templateAddCateProd)">
          <i class="fa fa-edit"></i> Thêm mới
        </a>
      </span>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <ng-template #templateAddCateProd>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Tạo mới danh mục sản phẩm</strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAddCateProd.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Form Add SP-->
      <div class="modal-body">
        <form [formGroup]="addCateForm" (ngSubmit)="createCate()">
          <div class="form-group">
            <label for="tensp">Tên danh mục sản phẩm</label>
            <input type="text" 
            class="form-control" 
            id="tendm" 
            placeholder="Nhập tên danh mục SP (bắt buộc)"
            formControlName="tendanhmuc" />
          </div>
          <div class="form-group">
            <label for="sdtkh">Mô tả</label>
            <input type="text" 
            class="form-control" 
            id="motadm" 
            placeholder="Nhập mô tả danh mục SP (bắt buộc)"
            formControlName="motadanhmuc"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>

        </form>
      </div>
      <!--End form add KH-->
    </ng-template>
    <div class="box">
      <div class="box-header">
        <div class="form-group col-md-7 padd-0">
          <input class="form-control" id="cate-search" name="searchTerm" [(ngModel)]="searchTerm" type="text" placeholder="Nhập tên danh mục sản phẩm">
        </div>
        <div class="form-group col-md-5 ">
          <button class="btn btn-primary btn-large btn-ssup" (click)="search()"><i class="fa fa-search"></i> Tìm kiếm
          </button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col-md-4" class="col-md-2">Tên danh mục</th>
              <th scope="col-md-6" class="col-md-2">Mô tả</th>
              <th scope="col-md-2" style="text-align:left;" class="col-md-1">Công cụ</th>
            </tr>
          </thead>
          <tbody>
              <ng-template ngFor let-item [ngForOf]="listCateProds" let-i="index">
                <tr (keyup.enter)="editCateProduct(item.id)">
                  <td scope="row col-md-4" class="col-md-2"><input  type="text" [(ngModel)]="item.tendanhmuc" class="col-md-10"></td>
                  <th scope="row col-md-6" class="col-md-2"><input  type="text" [(ngModel)]="item.motadanhmuc" class="col-md-10"></th>
                  <td style="text-align: left;">
                      <i class="fa fa-trash-o col-md-1" style="color: darkred;" title="Xóa" (click)="deleteCateProduct(item.id)"></i>
                  </td>
                </tr>
              </ng-template>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <div class="d-flex justify-content-between p-2"></div>
        <div class="alert alert-info summany-info clearfix" role="alert">
          <!-- SL sản phẩm/SL nhà sản xuất: 3/2 -->
          <div class="pull-right">
            <pagination previousText="&lsaquo;" name="currentPage" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;" [boundaryLinks]="true" [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
