<h1>
  Thu nợ
  <span class="pull-right">
    <button type="button" class="btn btn-primary mb-2" (click)="toggleToPurchaseHistory(true)">
      <i class="fa fa-cancle"></i> Hủy
    </button>
  </span>
</h1>
<div class="box" *ngIf="show()">
  <div class="box-header">
      <div class="form-row align-items-center">
        <div class="col-md-4">
          <div class="form-check mb-2">
            <input class="form-check-input" name="method-pay" type="radio"   [value]="1" [(ngModel)]="methodPay">
            <label class="form-check-label" style="margin-right:20px;">
              Tiền mặt
            </label>
            <input class="form-check-input" name="method-pay" type="radio" [value]="2" [(ngModel)]="methodPay" >
            <label class="form-check-label" style="margin-right:20px;">
              Thẻ
            </label>
            <input class="form-check-input" name="method-pay" type="radio" [value]="3" [(ngModel)]="methodPay" >
            <label class="form-check-label" style="margin-right:20px;">
              Chuyển khoản
            </label>
          </div>
        </div>
        <div class="col-md-3">
          <input type="text" bsDatepicker class="form-control mb-2" [(ngModel)]="ngaythu" name="ngaythu" placeholder="Ngày thu">
        </div>
        <div class="col-md-3">
          <input type="number" class="form-control  mb-2" placeholder="0" [(ngModel)]="receiptsAll"  (change) = "onChangeReceptAll()">
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary mb-2" (click)="receiptsAllDebt()">Thu tất cả</button>
        </div>
      </div>
  </div>
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Mã đơn hàng</th>
          <th scope="col">Ngày bán</th>
          <th scope="col">Thu ngân</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Khách trả</th>
          <th scope="col">Nợ</th>
          <th scope="col">Thu nợ</th>
          <th scope="col">Thu</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-item [ngForOf]="listCusBillDebt" let-i="index">
          <tr>
            <th scope="row">{{item.mahoadon}}</th>
            <td scope="row">{{item.createdAt | date: 'medium'}}</td>
            <td scope="row">{{item.nguoitao.ten}}</td>
            <td scope="row">{{listStatusBill[item.trangthai]}}</td>
            <td scope="row">{{item.tonggia | currency:'VND' }}</td>
            <td scope="row">{{item.khachhangtra | currency:'VND' }}</td>
            <td scope="row">{{getDebt(item) | currency:'VND' }}</td>
            <td>
              <input type="number " class="form-control" max="{{getDebt(item)}}" [(ngModel)]="proceeds[i].value" >   
            </td>
            <td>
              <button type="button" class="btn btn-block btn-primary" (click)="receipts(item.id,item)">
                <i class="fa fa-plus"></i> Thu
              </button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="box-footer">
    <div class="d-flex justify-content-between p-2"></div>
    <div class="alert alert-info summany-info clearfix" role="alert">
      <div class="sm-info pull-left">
        Tổng số đơn hàng: <span>{{getTotalCusBill()}}</span> Tổng tiền:
        <span>{{getTotalMoney() | currency: "VND"}}</span>đ
        Tổng nợ: <span>{{getTotalDebt() | currency: "VND"}}</span>đ
      </div>
    </div>
    <div class="pull-right">
      <pagination previousText="&lsaquo;" name="currentPage" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
        [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>
</div>
<div class="box"  *ngIf="!show()">
  <div class="box-footer">
    <div class="alert alert-warning summany-info clearfix" role="alert">
      <div class="sm-info pull-left">
        Không có hóa đơn nợ !
      </div>
    </div>
  </div>
</div>